<div class="list">
		
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">拜访类型</div>
            <select class="aeai-select-item" ng-model="followupInfo.visitType" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="0">预约拜访</option>
	             <option value="1">电话拜访</option>
	             <option value="2">邮件拜访</option>
	             <option value="3">陌生拜访</option>
            </select>
        </label>
        
        <label class="item item-input">
          	接待人姓名
         <input class="input-size" type="text" ng-model="followupInfo.visitReceptionName" align="right" >
        </label>
        
        <label class="item item-input">
          	拜访人员
         <input class="input-size" type="text" ng-model="followupInfo.visitUserName" align="right" >
         <input type="hidden" ng-model="suspendInfo.visitUserId">
        </label>
        
        <label class="item item-input">
          	同行人员
         <input class="input-size" type="text" ng-model="followupInfo.visitPeerName" align="right" >
        </label>
        
        <label class="item item-input">
          	拜访时间
         <input class="input-size" type="text" ng-model="followupInfo.visitDate" align="right" >
        </label>
        
        <label class="item item-input">
          	拜访费用 
         <input class="input-size" type="text" ng-model="followupInfo.visitCost" align="right" >
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">沟通效果</div>
            <select class="aeai-select-item" ng-model="followupInfo.visitEffect" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="Have_intention">有意向</option>
	             <option value="Unwanted">不需要</option>
	             <option value="Follow_up">可跟进</option>
            </select>
        </label> 
        
        <label class="item item-input">
          	状态
         <input class="input-size" type="text" ng-model="followupInfo.visitStateName" align="right" >
         <input type="hidden" ng-model="followupInfo.visitState">
        </label>
        
        <label class="item item-input">
          	填写人
         <input class="input-size" type="text" ng-model="followupInfo.visitFillName" align="right" >
         <input type="hidden" ng-model="suspendInfo.visitFillId">
        </label>
        
        <label class="item item-input">
          	填写时间
         <input class="input-size" type="text" ng-model="followupInfo.visitFillTime" align="right" >
        </label>
        
        <label class="item" style="line-height: 15px;">
			费用说明
	    </label>
        <label class="item item-input">
		    <textarea rows="8" cols="50" ng-model="followupInfo.visitCostExplain" placeholder="输入描述内容..."></textarea>
        </label>
        
        <label class="item" style="line-height: 15px;">
			交互内容
	    </label>
        <label class="item item-input">
		    <textarea rows="8" cols="50" ng-model="followupInfo.visitContent" placeholder="输入描述内容..."></textarea>
        </label>
        
        <label class="item" style="line-height: 15px;">
			客户关注点
	    </label>
        <label class="item item-input">
		    <textarea rows="8" cols="50" ng-model="followupInfo.visitCustFocus" placeholder="输入描述内容..."></textarea>
        </label>
        
        <label class="item" style="line-height: 15px;">
			待改进情况
	    </label>
        <label class="item item-input">
		    <textarea rows="8" cols="50" ng-model="followupInfo.visitImprovement" placeholder="输入描述内容..."></textarea>
        </label>
        
   </div>