<div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="搜索" ng-model="searchWord">
    </label>
    <button class="button button-small button-{{btnColorCSS}} submit-button" ng-click="searchCustomerName()">搜索</button>
</div>
<div class="content background-color-white" ng-show="activeTabe==StrangeVisit">
	<ion-checkbox ng-repeat="x in strangeCustomerList" id={{x.orgId}} name="{{x.orgName}}" ng-model="tags" ng-checked="isSelected(x.orgId)" ng-click="updateStrangeSelection($event,x.orgId)">
		{{x.orgName}}
		<input type="hidden" value="{{x.orgId}}">
	</ion-checkbox>
</div>

<div class="content background-color-white" ng-show="activeTabe==IntentionFollowUp">
	<ion-checkbox ng-repeat="x in intentionCustomerList" id={{x.custId}} name="{{x.custId}}" ng-model="tags" ng-checked="isSelected(x.custId)" ng-click="updateIntentionSelection($event,x.custId)">
		{{x.custName}}
		<input type="hidden" value="{{x.custId}}">
	</ion-checkbox>
</div>