<div class="content" style="background-color: #fff;">
   <div class="list">
  <div class="content background-color-white">
	<div class="row item">
     	<div class="col col-33">
     		拜访类型：
     	</div>
     	<div class="col col-66">
			<select style="border:0px;width: 75%;max-width: 81%;padding-left: 0px;direction: ltr;" ng-model="info.type" data-tap-disabled="true">
		        <option value="0">预约拜访</option>
		        <option value="1">电话拜访</option>
		        <option value="2">邮件拜访</option>
		        <option value="3">陌生拜访</option>
			</select>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		沟通效果：
     	</div>
     	<div class="col col-66">
			<select style="border:0px;width: 75%;max-width: 81%;padding-left: 0px;direction: ltr;" ng-model="info.effect" data-tap-disabled="true">
		        <option value="Follow_up">可跟进</option>
		        <option value="Have_intention">有意向</option>
		        <option value="Unwanted">不需要</option>
			</select>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		拜访日期：
     	</div>
     	<div class="col col-66">
     		<label class="item item-input" style="height: 26px;border:0px;">
			   <input type="date" ng-model="info.visitDate" style="border:0px;">
			</label>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		接待人姓名：
     	</div>&#12288;
     	<div class="col col-66">
     		<select style="border:0px;width: 69%;max-width: 81%;padding-left: 0px;direction: ltr;" ng-model="info.receptionName" data-tap-disabled="true">
		        <option value="">=请选择=</option>
		        <option ng-repeat="x in linkmanList" value="{{x.contId}}">{{x.contName}}</option>
			</select>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		接待人性别：
     	</div>
     	<div class="col col-66">
     		<select style="border:0px;width: 75%;max-width: 81%;padding-left: 12px;direction: ltr;" ng-model="info.receptionSex" data-tap-disabled="true">
		        <option value="M">男</option>
		        <option value="F">女</option>
			</select>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		接待人职位：
     	</div>
     	<div class="col col-66">
     		<label class="item item-input" style="height: 26px;border:0px;">
			   <input type="text" ng-model="info.receptionJob" style="border:0px;">
			</label>
     	</div>
     </div>
     <div class="row item">
     	<div class="col col-33">
     		接待人电话：
     	</div>
     	<div class="col col-66">
     		<label class="item item-input" style="height: 26px;border:0px;">
			   <input type="text" ng-model="info.receptionPhone" style="border:0px;">
			</label>
     	</div>
     </div>
   </div>
  </div>
</div>