<ion-modal-view ng-controller="${widgetCode}Ctrl">
  <ion-header-bar class="bar bar-header bar-{{userPreferColorCSS}}">
  	<button ng-click="closeModal()" class="button back-button buttons button-clear header-item">
		<i class="icon ion-android-arrow-back"></i>返回
    </button>
     <h1 class="title">{{modalTitle}}</h1>
  	<button class="button button-{{btnColorCSS}} save-button" ng-disabled ="addCustomer.orgName == ''" ng-click="doSave()">保存</button>
  </ion-header-bar>
  <ion-content>
  
    <div class="list">
    
		<div class="item item-divider">
			基本信息
		</div>
	
		<label class="item item-input">
          	客户名称
         <input class="input-size" type="text" ng-model="addCustomer.orgName" align="right" >
         <span ng-show="doRequired()" style="color:red">客户名称不能为空 &nbsp;&nbsp;&nbsp;</span>
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">分类</div>
            <select class="aeai-select-item" ng-model="addCustomer.orgClassification" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="ENTERPRISE_ENTITY">企业实体</option>
	             <option value="SOFTWARE_DEVELOPERS">软件开发商</option>
	             <option value="SOFTWARE_AGENTS">软件代理商</option>
	             <option value="SYSTEM_INTEGRATOR">系统集成商</option>
	             <option value="UNKNOWN">未知</option>
            </select>
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">客户性质</div>
            <select class="aeai-select-item" ng-model="addCustomer.orgType" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="0">未知</option>
	             <option value="1">外资(欧美)</option>
	             <option value="2">外资(非欧美)</option>
	             <option value="3">合资</option>
	             <option value="4">国企</option>
	             <option value="5">民营公司</option>
	             <option value="6">国内上市公司</option>
	             <option value="7">外企代表处</option>
	             <option value="8">政府机关</option>
	             <option value="9">事业单位</option>
	             <option value="10">非营利机构</option>
	             <option value="11">其他性质</option>
            </select>
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">来源渠道</div>
            <select class="aeai-select-item" ng-model="addCustomer.orgSources" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="WEB_SEARCH">网络搜索</option>
	             <option value="INFO_ACQUIRE">信息采集</option>
	             <option value="RECRUIT_ACQUIRE">招聘采集</option>
            </select>
        </label> 
        
        <label class="item item-input">
          	联系人
         <input class="input-size" type="text" ng-model="addCustomer.orgLinkmanName" align="right" >
        </label>
        
        <label class="item item-input">
          	邮箱
         <input class="input-size" type="email" ng-model="addCustomer.orgEmail" align="right" >
         <span ng-show="emailVerifica()" style="color:red">非法的邮箱地址 &nbsp;&nbsp;&nbsp;</span>
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">标签</div>
            <select class="aeai-select-item" ng-model="addCustomer.orgLabels" data-tap-disabled="true">
              	 <option value="">请选择</option>
              	 <option value="1">无人接听</option>
	             <option value="2">号码信息不符</option>
	             <option value="3">空号</option>
	             <option value="4">暂停服务</option> 
	             <option value="5">暂无需求</option> 
	             <option value="6">后续联系</option> 
	             <option value="7">态度恶劣</option>
            </select>
        </label>
        
        <label class="item item-input">
          	公司网站
         <input class="input-size" type="text" ng-model="addCustomer.orgWebsite" align="right" >
        </label>
        
        <label class="item item-input item-select">
          <div class="input-label" style="width:auto;">状态</div>
            <select class="aeai-select-item" ng-init="addCustomer.orgState='0'" ng-model="addCustomer.orgState" data-tap-disabled="true">
              	 <option value="0">有效</option>
              	 <option value="1">无效</option>
            </select>
        </label>
        
        <label class="item item-input">
          	创建时间
         <input class="input-size" type="text" ng-model="addCustomer.orgCreateTime" align="right" >
        </label>
        
        <label class="item item-input">
          	更新时间
         <input class="input-size" type="text" ng-model="addCustomer.orgUpdateTime" align="right" >
        </label>
        
        <label class="item item-input">
          	联系方式
         <input class="input-size" type="text" ng-maxlength="11" ng-model="addCustomer.orgContactWay" align="right" >
         <span ng-show="phoneVerifica()" style="color:red">非法的联系方式 &nbsp;&nbsp;&nbsp;</span>
        </label>
        
        <label class="item item-input">
          	地址
         <input class="input-size" type="text" ng-model="addCustomer.orgAddress" align="right" >
        </label>
        
        <label class="item" style="line-height: 15px;">
			简要介绍
	    </label>
        <label class="item item-input">
		    <textarea rows="8" cols="50" ng-model="addCustomer.orgIntroduction" placeholder="输入描述内容..."></textarea>
        </label>
	
	  </div>
  </ion-content>
</ion-modal-view>